democritus-csv @ git+https://github.com/democritus-project/democritus-csv.git#egg=democritus-csv
democritus-file-system @ git+https://github.com/democritus-project/democritus-file-system.git#egg=democritus-file-system
democritus-hypothesis @ git+https://github.com/democritus-project/democritus-hypothesis.git#egg=democritus-hypothesis
democritus-networking @ git+https://github.com/democritus-project/democritus-networking.git#egg=democritus-networking
democritus-strings @ git+https://github.com/democritus-project/democritus-strings.git#egg=democritus-strings
hypothesis
ioc-finder